# Token for Vercel Blob database
BLOB_READ_WRITE_TOKEN=token

# No idea about what this is
VERCEL_OIDC_TOKEN=token

# For internal API routes
INTERNAL_API_SECRET=secret

# Public endpoint
PUBLIC_URL=https://sources.unbubblehub.org

# Neon DB
DATABASE_URL=postgresql://neondb_owner:asdasd

# Password for /admin/login
ADMIN_PASSWORD=password

# HMAC signing key (any random 32+ char string)
ADMIN_SECRET=asdasdasd...asd
